{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}

<link rel="stylesheet" href="{{url_for('static', filename = 'css/index.css')}}">
{% endblock %}

{% block content %}

<title> {{ title }} </title>

<div class="container" style="width: 100%; padding-top: 5px; height: 100%; background-image:url('/app/static/photos/timebg.jpg')">

    <div class="jumbotron" style="width: 100%; text-align:center">
        <h2 class="blog-header" style="font-size: 70px">
            BLOG.ME
        </h2>
        <p></p>

    </div>
    <br><br><br>
    <div class="row">

        <div class="col-md-4 col-lg-4">
            <h2 class="blog-create">
                <a href="/blog/new">
                    Write your own blog post.
                </a>
            </h2>

        </div>

    </div>
    <hr>

    <ul class="list-unstyled">

        {{ macro.displayBlogList(blogs) }}


    </ul>